[submodule "MAKHLO584_FTO2403_A2_Makabongwe-Hlongwane_DJS10"]
	path = MAKHLO584_FTO2403_A2_Makabongwe-Hlongwane_DJS10
	url = https://github.com/Maka-b/MAKHLO584_FTO2403_A2_Makabongwe-Hlongwane_DJS10.git
